In [6]:
import pandas as pd
import numpy as np
df= pd.read_csv('City_day01.csv')
# df = df[df['City']=='Delhi']
df = df.drop(['City','NO','NOx','Benzene','Toluene','Xylene'],axis = 1)
df =df[120:180]
df.shape

(60, 9)

In [7]:
df.to_csv('file2.csv', index=False)

In [8]:
df= pd.read_csv('file1.csv')
df.head(5)

,Date,PM2.5,PM10,NO2,NH3,CO,SO2,O3,AQI
0,2015-03-02,60.78,141.54,18.210,15.63,9.07,29.480,34.750,189.000000
1,2015-03-03,91.83,141.54,28.710,15.63,12.99,39.710,38.460,408.000000
2,2015-03-04,93.88,141.54,29.380,15.63,18.21,62.750,46.790,383.000000
3,2015-03-05,173.01,141.54,42.270,15.63,48.44,78.760,59.390,780.000000
4,2015-03-06,139.23,141.54,29.185,15.63,25.47,54.025,64.645,583.333333